---
import logo from '../assets/logo/Primary.svg';

const { title, intro } = Astro.props;
---

<div class="hero bg-3">
	<!-- <img src={logo.src} width={logo.width} height={logo.height} alt={import.meta.env.BRAND_NAME} /> -->
	<div class="content-width">
		<h1>{title}</h1>
		<p>{intro}</p>
	</div>
</div>

<style lang="scss">
.hero{
	width:100%;
	padding: 24px;

	img{
		width: 100px
	}
}

@media(min-width:420px){
	.hero{
		padding: 8rem;

		img {
			width:200px;
		}
	}
}

.hero h1 {
	font-size: 2.4rem;
	font-weight: 900;
	@media(min-width:420px) {
		font-size: 4rem;
	}
}
</style>