---
import Layout from './Layout.astro'
import Hero from '../components/Hero.astro';
import SideNav from '../components/SideNav.vue';
import Nav from '../components/Nav.astro'

const { headings, prevPost, nextPost, post } = Astro.props;
// console.log({headings})
// console.log({prevPost})
// console.log({nextPost})
// console.log({post})
const isIndex = post?.id === '0 index.mdx'

let title = post?.data?.title + " — Every Body Moves"
console.log({title})

let metaDesc = post?.data?.intro
---

<Layout title={title} metaDesc={metaDesc}>
	<SideNav client:visible>
		{!isIndex && (<Hero title={post?.data?.title} intro={post?.data?.intro} headings={headings}/>)}
		<div class="content content-width">
			<slot />
		</div>
		<Nav prevPost={prevPost} nextPost={nextPost} />
	</SideNav>
</Layout>